.item-home{
    /*box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.49);*/
    /*padding: 10px;*/
    border-radius: 20px;
    margin-bottom: 100px;
    transition: all linear .5s;
    animation: ease-in-out alternate infinite;
}
.item-home img{
    display: inline-block;
    border-radius: 20px;
    margin-right: 15px;
}
.item-home div{
    margin-top: 0;
    display: inline-block;
}
.item-home textarea:focus{
    outline: none;
}
.item-home textarea{
    padding: 0 30px;
    display: block;
    height: 270px;
    resize: none;
    background: none;
    border: none;
    width: 100%;
}
.item-home .no-image {
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 500px;
    height: 278px;
    vertical-align: middle;
    line-height: 300px;
    text-align: center;
    background-color: rgba(114, 114, 114, 0.1);
    border-radius: 20px;
}

.news-header{
    margin-left: 5%;
    width: 277px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 10px solid;
}
