.p-header{
    font-family: Roboto, sans-serif;
   text-align: center;
    grid-area: headers;
}
.cardbody{
display: grid;
    grid-template-areas:
            "img headers price count removeIco";
}
.imgg{
    grid-area: img;
}
.count input{
    width: 17%;
    float: right;
    text-align: center;
}
.count{
float: right;
    padding: 4% 0%;
    grid-area: count;
}
.price{
    padding:  11%;
    grid-area: price;
    float: right;
    text-align: center;

}
.removeIco{
    grid-area:removeIco ;
    float: right;
    padding: 10% 40%;
}

